:root {
    --light-green: #d4e09b;
    --ivory-green: #f6f4d2;
    --grey-green: #94a985;
}

/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body {
    margin: 0;
    padding-top: 60px;
    background-color: rgb(235, 239, 235);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}


/* Top navigation bar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--grey-green);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 60px; /* Define height for navbar */
}

.navbar button {
    background: none;
    border: none;
    color: var(--light-green);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navbar button:hover {
    background-color: var(--light-green);
}


.main-container {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    width: 90%;
    margin-top: 20px;
}

.result-container, .graph-container {
    flex: 1;
    padding: 20px;
    background-color: white;
    border: 1px solid var(--grey-green);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result-container h1,
.graph-container h1 {
    color: var(--grey-green);
    margin-bottom: 10px;
}

.result-container h2 {
    color: var(--light-green);
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid var(--grey-green);
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: var(--ivory-green);
    color: var(--grey-green);
}

.login-message {
    margin-top: 20px;
    color: var(--grey-green);
    font-size: 1rem;
    text-align: center;
}

.login-button {
    display: block;
    margin: 10px auto 0;
    padding: 10px 20px;
    background-color: var(--light-green);
    color: var(--grey-green);
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
}

.login-button:hover {
    background-color: var(--ivory-green);
}

